:root{
    --color1:#FAD6A5;
    --color2:#FF8A60;
    --color3:#BFA8AD;
  }
body{
    margin: 0%;
    padding: 0%;
    color: black;
    font-family: sans-serif;
    background-color: var(--color1);
}
span{
    color: red
}
.container{
    position: absolute;
    top: 25%;
    left:50%;
    transform: translate(-50%);
    padding:15px;
    background-color: var(--color3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input{
    outline: none;
    border: none;
    padding: 5px;
    margin-top: 10px;
    height: 3rem;
    width: 8rem;
}
button{
    padding: 10px;
    border: 2px solid var(--color1);
    background: var(--color2);
    display: block;
    margin-top: 5%;
    cursor: pointer;
}
#output{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}